/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.border {
  border: 1px solid black;
}
.fonts {
  margin: 1rem 0;
  line-height: 2.5rem;
}
.button {
  font-weight: bold;
  margin: 1rem 3rem 1rem 0;
  background: skyblue;
  color: white;
  padding: 0.7em 2em;
  box-shadow: 0 0.2rem 0.2rem gray;
  border-radius: 0.5rem;
}
.button:hover {
  cursor: pointer;
}
:root {
  font-size: 62%;
  background-image: url('../images/bg.png');
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  margin: 0 20%;
}
@media (max-width: 800px) {
  .main-container {
    margin: 0 5%;
  }
}
@media (max-width: 500px) {
  .main-container {
    margin: 0 2.5%;
  }
}
.main-container hr {
  background-color: black;
  height: 0.3rem;
  width: 100%;
  margin: 3rem 0;
}
.main-container header {
  margin: 2rem 0;
  font-family: 'Gugi', cursive;
}
.main-container header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.main-container header ul li a {
  color: black;
  text-decoration: none;
  font-size: 3rem;
}
.main-container header ul li a:hover {
  color: purple;
}
@media (max-width: 500px) {
  .main-container header ul li {
    margin: 1.5rem 0;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .main-container header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (max-width: 500px) {
  .main-container header ul {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: center;
  }
}
.main-container .bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: 0;
  margin: 3rem 0;
}
@media (max-width: 500px) {
  .main-container .bio {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: center;
  }
}
.main-container .bio img {
  align-self: center;
  max-width: 22rem;
  max-height: 22rem;
  border: 0.5rem solid skyblue;
  border-radius: 100%;
}
@media (max-width: 800px) {
  .main-container .bio img {
    max-width: 20rem;
    max-height: 20rem;
    margin: 2rem 0;
  }
}
@media (max-width: 500px) {
  .main-container .bio img {
    max-width: 20rem;
    max-height: 20rem;
    margin: 2rem 0;
  }
}
.main-container .bio .job-title {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  width: 60%;
  text-align: justify;
}
.main-container .bio .job-title h1 {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
}
@media (max-width: 500px) {
  .main-container .bio .job-title h1 {
    text-align: center;
  }
}
.main-container .bio .job-title h2 {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
  text-align: center;
}
@media (max-width: 500px) {
  .main-container .bio .job-title h2 {
    text-align: center;
  }
}
.main-container .bio .job-title article#intro {
  margin: 1rem 0;
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  .main-container .bio .job-title {
    width: inherit;
  }
}
.main-container #skills h2 {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
}
@media (max-width: 500px) {
  .main-container #skills h2 {
    text-align: center;
  }
}
.main-container #skills h3 {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
}
@media (max-width: 500px) {
  .main-container #skills h3 {
    text-align: center;
  }
}
.main-container #skills ul {
  list-style-type: square;
  list-style-position: inside;
}
.main-container #skills ul li {
  line-height: 2.5rem;
}
.main-container #skills p {
  margin: 1rem 0;
  line-height: 2.5rem;
}
.main-container #work h2 {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
}
@media (max-width: 500px) {
  .main-container #work h2 {
    text-align: center;
  }
}
.main-container #work #company {
  border-collapse: collapse;
  width: 100%;
  margin: 3rem 0;
  text-align: center;
}
.main-container #work #company .head {
  background: skyblue;
}
.main-container #work #company th {
  font-weight: bold;
  color: white;
  padding: 0.8rem 0;
}
.main-container #work #company tr td {
  padding: 0.8rem 0;
}
.main-container #work #company tr:nth-child(even) {
  background: lightgray;
}
.main-container #work-and-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: 0;
}
@media (max-width: 500px) {
  .main-container #work-and-contact {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: center;
    width: 100%;
  }
}
.main-container #work-and-contact .contact {
  width: 50%;
  border-right: 1px solid black;
}
@media (max-width: 500px) {
  .main-container #work-and-contact .contact {
    border: 0;
    text-align: center;
  }
}
.main-container #work-and-contact .contact h2 {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .main-container #work-and-contact .contact h2 {
    text-align: center;
  }
}
.main-container #work-and-contact .contact div {
  width: 100%;
}
.main-container #work-and-contact .contact div i {
  margin: 2rem 2rem;
}
.main-container #work-and-contact .contact div i:hover {
  cursor: pointer;
}
.main-container #work-and-contact .work-samples {
  width: 50%;
  margin-left: 2rem;
}
.main-container #work-and-contact .work-samples h2 {
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .main-container #work-and-contact .work-samples h2 {
    text-align: center;
  }
}
.main-container #work-and-contact .work-samples ul li {
  list-style-type: square;
  list-style-position: inside;
}
.main-container #work-and-contact .work-samples ul li a {
  color: purple;
  text-decoration: none;
}
.main-container #work-and-contact .work-samples button {
  font-weight: bold;
  margin: 1rem 3rem 1rem 0;
  background: skyblue;
  color: white;
  padding: 0.7em 2em;
  box-shadow: 0 0.2rem 0.2rem gray;
  border-radius: 0.5rem;
}
.main-container #work-and-contact .work-samples button:hover {
  cursor: pointer;
}
.main-container footer {
  margin: 7rem 0 2rem 0;
  text-align: center;
  font-weight: bold;
  font-family: 'Gugi', cursive;
}
