@import 'reset.less';
@import 'header.less';
@import 'hr.less';
@import 'bioSection.less';
@import 'skillSection.less';
@import 'workSection.less';
@import 'workContactSection.less';
@import 'footer.less';

:root {
	font-size: 62%;
	background-image: url('../images/bg.png');
}

.main-container {
	.flex(column, 0, 0);
	font-size: @fontSize;
	font-family: @fontBody;
	line-height: 2.5rem;
	margin: 0 @marginDesktop;

	@media (max-width: @tabletViewBreakpoint) {
		margin: 0 @marginTablet;
	}

	@media (max-width: @mobileViewBreakpoint) {
		margin: 0 @marginMobile;
	}
}
