// breakpoints
@tabletViewBreakpoint: 800px;
@mobileViewBreakpoint: 500px;

// colors
@primaryColor: black;
@secondaryColor: white;
@alternateColor: purple;


// fonts
@fontSize: 2rem;
@fontHeader: 'Gugi', cursive;
@fontSectionHeader: 'Poppins', sans-serif;
@fontBody: 'Open Sans', sans-serif;

// @desktopFontSize: 1.6rem;
// @tabletFontSize: 2rem;
// @mobileFontSize: 2.5rem;

// margins
@marginDesktop: 15%;
@marginTablet: 5%;
@marginMobile: 2.5%;

